[submodule "binaryTree/simpleConsoleParser"]
	path = binaryTree/simpleConsoleParser
	url = git@github.com:lvbealr/simpleConsoleParser.git
[submodule "binaryTree/customWarning"]
	path = binaryTree/customWarning
	url = git@github.com:lvbealr/customWarning.git
